
%flexCenter{
  display: flex;
  justify-content: center;
  align-items:center;
}

%flexSpaceBtwn{
  @extend %flexCenter;
  justify-content: space-between;
}

%profileShared{
  @extend %flexSpaceBtwn;
}